:root{
    --primary-color: #134e4a;
    --secondary-color: #ccfbf1;
}
*{
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body{
    padding: 0;
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template: 1fr 10fr / 1fr;
    font-family: sans-serif;
}

.nav{
    display: flex;
    padding: 15px 40px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}
.logo{
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
    font-weight: 800;
}
.logo>img{
    height: 4rem;
}
.add-book{
    height: 70%;
    padding: 8px 20px;
    border: 2px solid white;
    background-color: var(--primary-color);
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}
.add-book:active{
    border: 2px solid lightgray;
    color: lightgray;
    /* background-color: var(--secondary-color); */
}

.main{
    background-color: var(--secondary-color);
    padding: 20px;
    display: grid;
    grid-auto-rows: 300px;
    grid-template: 300px / repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}   
.card{
    padding: 12px;
    border: 5px solid var(--primary-color);
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.title{
    margin-bottom: 30px;
    font-size: 0.9rem;
}
.book-name{
    font-size: 1.5rem;
    font-weight: 700;
}
.author{
    font-style: italic;
    font-size: 0.9rem;
    font-weight: 600;
}
.card>button{
    margin-left: auto;
    margin-top: auto;
    height: 30px;
    width: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    background-color: inherit;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5Z" /></svg>');
}
.card>button:active{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,4H15.5L14.5,3H9.5L8.5,4H5V6H19M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19Z" /></svg>');
}